h1{
  color: pink;
}
h2{
  color: pink;
}
#puppy-box{
  border: 5px solid yellow;
  padding: 20px;
  margin: 50px;
}
.reason{
  width: 30%;
  display: inline-block;
  vertical-align: top;
  border-left;
}
